# Maven
target/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Java compiled files
*.class

# OS files
.DS_Store
Thumbs.db

# Music files
songs/

# Logs
logs/
*.log